$main-color: #63AEB7;
$highlight-color: #ED9110;
$dark-color: #220C10;
$dim-color: #506C64;
$light-color: #CDD3D5;


$main-background-color: $main-color;
$footer-background-color: $dark-color;
$footer-text-color: $dim-color;

$submit-button-color: $highlight-color;
$default-button-color: $light-color;
